@use '../foundation/variables'as v;
@use '../foundation/functions'as f;

.news {
  .l-container {
    padding-top: 72px;

    @include v.mq() {
      padding-top: 110px;
    }
  }

  .section-title {
    margin-bottom: 44px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    row-gap: 38px;

    @include v.mq() {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-item {
    display: flex;
    column-gap: 20px;

    &:not(:first-child)::before {
      @include v.mq() {
        content: "";
        background-color: v.$c-main;
        width: 1px;
        height: 78px;
      }
    }

    &-header {
      display: flex;
      column-gap: 19px;
      margin-bottom: 9px;

      &-date {
        @include v.rem(14);
      }

      &-badge {
        @include v.rem(12);
        background-color: v.$c-main;
        color: v.$c-white;
        padding-inline: 7px;
      }
    }
  }
}